table,
th,
td {
  border: 2px solid rgb(0, 191, 255);
}
table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin: 20px;
}
tr {
  display: table-row;
}
th {
  height: 50px;
}

.input-fields {
  padding: 20px;
  padding-bottom: 50px;
}

input {
  border: 1px solid black;
  padding: 10px;
}
button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(189, 114, 114);
  color: black;
}
.delete-btn,
.edit-btn {
  margin: 10px;
}

.save {
  display: none;
}
